* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --very-light-gray:#C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD982;
    --very-light-blue:#bad7f1;
    --dark-blue: #252C5A;
    --white: #FFFFFF;
    --black: #000000;
    --ss: 1.2rem;
    --sm: 1.4rem;
    --md: 1.5rem;
    --lg: 1.8rem;
}

header {
	width: 100%;
	background-color: var(--dark-blue);
	color: var(--white);
	padding: 1rem 0;
	text-align: center;
	margin-bottom: 2rem;
	font-size: var(--sm);
	position: sticky;
	top: 0;
}

header img {
	width: 10rem;
	height: auto;
}

.app-name {
	margin-top: 1rem;
}

main {
	font-size: var(--sm);
	margin-bottom: 4rem;
}

section {
	width: 100%;
	margin-top: 4rem;
}

main div {
	width: 30rem;
	margin: 0 auto;
	border: 0.5rem solid var(--hospital-green);
	padding: 1rem;
}

p {
	width: 20rem;
	margin: 0 auto;
}

label {
	display: block;
	margin-top: 2rem;
}

input {
	width: 20rem;
	height: 4rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
	padding: 0.5rem;
	border: 0.1rem solid var(--very-light-gray);
	background-color: var(--text-input-field);
}

input:hover {
	border: 0.1rem solid var(--dark-blue);
}

button {
	width: 20rem;
	height: 4rem;
	cursor: pointer;
}

.btn-container {
	margin-top: 3rem;
	text-align: center;
}

#series_section, #pump_model_section, #pump_performance_section, #seal_hp_section, #motor_section, #cable_section, #general_results {
	display: none;
}

#general_results ul li {
	margin-left: 1rem;
}

#general_results p {
	padding: 2rem 1rem 1rem 1rem;
	font-weight: bold;
	width: 100%;
}
.msg-container {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 30rem;
	height: 10rem;
	position: absolute;
	background-color: red;
	color: white;
	border-radius: 0.5rem;
}

.msg-container p {
	display: flex;
	padding: 0.5rem;
	text-align: center;
	align-items: center;
	font-size: var(--md);
}

@media (min-width: 600px) {
	
	main {
		font-size: var(--md);
	}

	main div {
		width: 50rem;
	}

	.description-p {
		width: 40rem;
	}
}